#jsFadein {
	display: none;
}

#jsFadein2 {
	display: none;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #800000;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;

}
.btn-default:active .filter-button:active
{
    background-color: #FFFFFF;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.fit-image{
width: 100%;
object-fit: cover;
height: 200px; /* only if you want fixed height */
}

#maroon{
    color: #800000;
}

#maroon-nav{
    color: #800000;
}

#maroon-nav:hover{
    font-style: italic;
    text-decoration: none;
}

#maroon-button{
    background-color: #800000;
    border: 1.5px solid #FFFFFF;
}

#maroon-button:hover{
    background-color: #FFFFFF;
    color: #800000;
    border: 1.5px solid #800000;
}